openapi: 3.1.1
info:
  title: Squid Router API V2
  version: v2
  description: API for fetching cross-chain swap routes and checking transaction status using Squid.
servers:
  - url: 'https://v2.api.squidrouter.com'
    description: Squid Production API V2
  - url: 'https://testnet.api.squidrouter.com'
    description: Squid Testnet API V2
paths:
  /v2/route:
    post:
      operationId: getRoute
      summary: Get a cross-chain swap route
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouteRequest'
      responses:
        '200':
          description: Successful route calculation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteResponseData'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBasicResponse'
  /v2/status:
    get:
      operationId: getStatus
      summary: Get the status of a transaction
      parameters:
        - name: bridgeType
          in: query
          description: Specifies the bridge type if applicable.
          schema:
            type: string
        - name: quoteId
          in: query
          required: true
          schema:
            type: string
        - name: requestId
          in: header
          description: The request ID received from the /route endpoint.
          schema:
            type: string
        - name: transactionId
          in: query
          description: The transaction hash to check the status for.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBasicResponse'
  /v2/tokens:
    get:
      operationId: getTokenPrice
      parameters:
        - name: address
          in: query
          required: true
          schema:
            type: string
        - name: chainId
          in: query
          required: false
          schema:
            type: string
            format: int32
        - name: usdPrice
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  tokens:
                    type: array
                    items:
                      $ref: '#/components/schemas/Token'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBasicResponse'
  /v2/sdk-info:
    get:
      operationId: getSDKInfo
      summary: 'Get SDK information, including supported tokens and chains'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      tokens:
                        type: array
                        items:
                          $ref: '#/components/schemas/Token'
                      chains:
                        type: array
                        items:
                          $ref: '#/components/schemas/ChainData'
                      axlScanUrl:
                        type: string
                      isInMaintenanceMode:
                        type: boolean
                      maintenanceMessage:
                        type: string
                    required:
                      - tokens
                      - chains
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBasicResponse'
  /v2/deposit-address:
    post:
      operationId: getDepositAddress
      summary: Get deposit address for non-EVM to EVM swaps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChainflipDepositAddressData'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositAddressResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBasicResponse'
components:
  schemas:
    ActionStage:
      type: integer
      format: int32
      enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
        - 8
        - 9
        - 10
        - 11
        - 12
        - 13
        - 14
        - 15
        - 16
        - 17
        - 18
      x-enum-varnames:
        - EVM_SOURCE
        - EVM_DESTINATION
        - EVM_TRANSIENT
        - EVM_ONLY
        - COSMOS_SOURCE
        - COSMOS_DESTINATION
        - COSMOS_TRANSIENT
        - COSMOS_ONLY
        - BTC_SOURCE
        - BTC_DESTINATION
        - SOLANA_SOURCE
        - SOLANA_DESTINATION
        - SOLANA_ONLY
        - SUI_SOURCE
        - SUI_DESTINATION
        - XRPL_SOURCE
        - XRPL_DESTINATION
        - STELLAR_SOURCE
        - STELLAR_DESTINATION
    ActionType:
      type: string
      enum:
        - swap
        - wrap
        - bridge
        - ibc-transfer
        - custom
        - fee
        - rfq
      x-enum-varnames:
        - SWAP
        - WRAP
        - BRIDGE
        - IBC_TRANSFER
        - CUSTOM
        - FEE
        - RFQ
    ApiBasicResponse:
      type: object
      properties:
        error:
          oneOf:
            - type: string
            - type: array
              items:
                $ref: '#/components/schemas/YupError'
            - $ref: '#/components/schemas/GMPError'
        errorType:
          $ref: '#/components/schemas/ErrorType'
      additionalProperties: false
    BaseChain:
      type: object
      properties:
        id:
          type: string
        chainId:
          type: string
          format: int32
        type:
          $ref: '#/components/schemas/ChainType'
        chainType:
          $ref: '#/components/schemas/ChainType'
        chainName:
          type: string
        axelarChainName:
          type: string
        networkIdentifier:
          $ref: '#/components/schemas/NetworkIdentifier'
        networkName:
          type: string
        rpc:
          type: string
        internalRpc:
          type: string
        chainIconURI:
          type: string
        blockExplorerUrls:
          type: array
          items:
            type: string
        enableBoostByDefault:
          type: boolean
        swapAmountForGas:
          type: string
        sameChainSwapsSupported:
          type: boolean
        interchainService:
          type: string
        nativeCurrency:
          type: object
          additionalProperties: false
          properties:
            name:
              type: string
            symbol:
              type: string
            decimals:
              type: number
            icon:
              type: string
          required:
            - name
            - symbol
            - decimals
            - icon
        squidContracts:
          type: object
          additionalProperties: false
          properties:
            defaultCrosschainToken:
              type: string
            squidRouter:
              type: string
            squidMulticall:
              type: string
            squidFeeCollector:
              type: string
            squidCoralMulticall:
              type: string
        bridges:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/BridgeConfig'
        rpcList:
          type: array
          items:
            type: string
        visible:
          type: boolean
        compliance:
          type: object
          additionalProperties: false
          properties:
            trmIdentifier:
              type: string
          required:
            - trmIdentifier
        boostSupported:
          type: boolean
        gasFee:
          type: object
          additionalProperties: false
          properties:
            jitoTipFee:
              $ref: '#/components/schemas/JitoTipFee'
        enabled:
          type: boolean
        layerZeroEndpoint:
          type: string
          format: int32
      additionalProperties: false
      required:
        - id
        - chainId
        - type
        - axelarChainName
        - networkIdentifier
        - networkName
        - chainIconURI
        - blockExplorerUrls
        - enableBoostByDefault
        - sameChainSwapsSupported
        - nativeCurrency
        - squidContracts
        - bridges
        - rpcList
        - visible
    Bech32Config:
      type: object
      properties:
        bech32PrefixAccAddr:
          type: string
        bech32PrefixAccPub:
          type: string
        bech32PrefixValAddr:
          type: string
        bech32PrefixValPub:
          type: string
        bech32PrefixConsAddr:
          type: string
        bech32PrefixConsPub:
          type: string
      additionalProperties: false
      required:
        - bech32PrefixAccAddr
        - bech32PrefixAccPub
        - bech32PrefixValAddr
        - bech32PrefixValPub
        - bech32PrefixConsAddr
        - bech32PrefixConsPub
    BIP44:
      type: object
      properties:
        coinType:
          type: integer
          format: int32
      additionalProperties: false
      required:
        - coinType
    BridgeConfig:
      type: object
      properties:
        _dummy:
          type: string
      additionalProperties:
        type: string
    BridgeDetails:
      type: object
      properties:
        enabled:
          type: boolean
        target:
          type: string
        provider:
          type: string
        type:
          $ref: '#/components/schemas/BridgeType'
        name:
          type: string
        logoURI:
          type: string
        calls:
          type: array
          items:
            $ref: '#/components/schemas/ChainCall'
      additionalProperties: false
      required:
        - enabled
        - provider
        - type
        - name
        - logoURI
    BridgeType:
      description: Type of bridge used for cross-chain operations.
      type: string
      enum:
        - axelar-gmp
        - axelar-its
        - cctp
        - noble-cctp
        - ibc
        - chainflip
        - rfq
        - immutable-token-bridge
        - coral-v2
      x-enum-varnames:
        - AXELAR_GMP
        - AXELAR_ITS
        - CCTP
        - NOBLE_CCTP
        - IBC
        - CHAINFLIP
        - RFQ
        - ITB
        - CORAL_V2
    ChainCall:
      oneOf:
        - $ref: '#/components/schemas/EvmContractCall'
        - $ref: '#/components/schemas/CosmosCall'
        - $ref: '#/components/schemas/SuiCoralCall'
    ChainData:
      discriminator:
        propertyName: type
        mapping:
          bitcoin: '#/components/schemas/BaseChain'
          cosmos: '#/components/schemas/CosmosChain'
          evm: '#/components/schemas/EvmChain'
          solana: '#/components/schemas/BaseChain'
          sui: '#/components/schemas/BaseChain'
          xrpl: '#/components/schemas/BaseChain'
      oneOf:
        - $ref: '#/components/schemas/BaseChain'
        - $ref: '#/components/schemas/EvmChain'
        - $ref: '#/components/schemas/CosmosChain'
    ChainFee:
      type: object
      properties:
        type:
          type: string
          const: CHAIN
        flat:
          type: number
        percentage:
          type: number
        enabled:
          type: boolean
        waivePlatformFee:
          type: boolean
        chain:
          $ref: '#/components/schemas/ChainData'
      additionalProperties: false
      required:
        - type
        - flat
        - percentage
        - enabled
        - waivePlatformFee
    ChainflipDepositAddressData:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/SquidDataType'
        request:
          type: object
          additionalProperties: false
          properties:
            amount:
              type: string
            fromAddress:
              type: string
            toAddress:
              type: string
            ccmParams:
              type: object
              additionalProperties: false
              properties:
                message:
                  type: string
                gasBudget:
                  type: string
              required:
                - message
                - gasBudget
            fillOrKillParams:
              type: object
              additionalProperties: false
              properties:
                minPrice:
                  type: string
                refundAddress:
                  type: string
                retryDurationBlocks:
                  type: number
              required:
                - minPrice
                - refundAddress
                - retryDurationBlocks
          required:
            - amount
            - toAddress
            - fillOrKillParams
      additionalProperties: false
      required:
        - type
        - request
    ChainflipDepositAddressResponse:
      type: object
      properties:
        amount:
          type: string
        chainflipStatusTrackingId:
          type: string
        data:
          type: string
        depositAddress:
          type: string
      additionalProperties: false
      required:
        - depositAddress
        - amount
        - chainflipStatusTrackingId
    ChainName:
      description: Chain name identifier.
      type: string
      enum:
        - Arbitrum
        - arbitrum
        - aurora
        - Avalanche
        - base
        - binance
        - celo
        - centrifuge
        - Ethereum
        - Ethereum-2
        - Fantom
        - filecoin
        - filecoin-2
        - immutable
        - kava
        - mantle
        - Moonbeam
        - optimism
        - polygon-zkevm
        - Polygon
        - linea
        - scroll
        - blast
        - fraxtal
        - berachain
        - gnosis
        - sonic
        - soneium
        - peaq
        - hyper-evm
        - agoric
        - assetmantle
        - axelarnet
        - carbon
        - comdex
        - cosmoshub
        - crescent
        - evmos
        - fetch
        - injective
        - juno
        - ki
        - kujira
        - neutron
        - noble
        - osmosis
        - osmosis-7
        - regen
        - sei
        - secret-snip
        - stargaze
        - stride
        - terra-2
        - umee
        - dydx
        - acre
        - archway
        - bitcanna
        - bitsong
        - cheqd
        - celestia
        - coreum
        - decentr
        - desmos
        - dig
        - dymension
        - irisnet
        - ixo
        - jackal
        - lumnetwork
        - likecoin
        - kava-ibc
        - nolus
        - xpla
        - akash
        - chihuahua
        - cronos
        - gravitybridge
        - mars
        - migaloo
        - persistence
        - omniflixhub
        - quicksilver
        - sommelier
        - terra
        - teritori
        - sentinel
        - humans
        - c4e
        - saga
        - nibiru
        - lava
        - kyve
        - xion
        - hub
        - saga_evm
        - maria
        - nirvana
        - flippandomainnet
        - soundmoney
        - ngmi
        - Elys
        - Allora
        - Babylon
        - bitcoin
        - solana
        - sui
        - xrpl
        - xrpl-evm
        - stellar
        - ethereum-sepolia
        - sui-testnet
        - stellar-testnet
      x-enum-varnames:
        - ARBITRUM
        - ARBITRUM2
        - AURORA
        - AVALANCHE
        - BASE
        - BINANCE
        - CELO
        - CENTRIFUGE
        - ETHEREUM
        - ETHEREUM2
        - FANTOM
        - FILECOIN
        - FILECOIN2
        - IMMUTABLE_ZKEVM
        - KAVA
        - MANTLE
        - MOONBEAM
        - OPTIMISM
        - POLYGON_ZKEVM
        - POLYGON
        - LINEA
        - SCROLL
        - BLAST
        - FRAXTAL
        - BERACHAIN
        - GNOSIS
        - SONIC
        - SONEIUM
        - PEAQ
        - HYPER_EVM
        - AGORIC
        - ASSETMANTLE
        - AXELARNET
        - CARBON
        - COMDEX
        - COSMOS
        - CRESCENT
        - EVMOS
        - FETCH
        - INJECTIVE
        - JUNO
        - KI
        - KUJIRA
        - NEUTRON
        - NOBLE
        - OSMOSIS
        - OSMOSIS7
        - REGEN
        - SEI
        - SECRETSNIP
        - STARGAZE
        - STRIDE
        - TERRA2
        - UMEE
        - DYDX
        - ACRECHAIN
        - ARCHWAY
        - BITCANNA
        - BITSONG
        - CHEQD
        - CELESTIA
        - COREUM
        - DECENTR
        - DESMOS
        - DIG
        - DYMENSION
        - IRISNET
        - IXO
        - JACKAL
        - LUM
        - LIKECOIN
        - KAVA_IBC
        - NOLUS
        - XPLA
        - AKASH
        - CHIHUAHUA
        - CRONOS
        - GRAVITYBRIDGE
        - MARS
        - MIGALOO
        - PERSISTENCE
        - OMNIFLIXHUB
        - QUICKSILVER
        - SOMMELIER
        - TERRA
        - TERITORI
        - SENTINEL
        - HUMANS
        - CHAIN4ENERGY
        - SAGA
        - NIBIRU
        - LAVA
        - KYVE
        - XION
        - SAGA_HUB
        - SAGA_DEX
        - SAGA_MARIA
        - SAGA_NIRVANA
        - SAGA_FLIPPANDO
        - SAGA_SOUNDMONEY
        - SAGA_NGMI
        - ELYS
        - ALLORA
        - BABYLON
        - BITCOIN
        - SOLANA
        - SUI
        - XRPL
        - XRPL_EVM
        - STELLAR
        - ETHEREUM_SEPOLIA
        - SUI_TESTNET
        - STELLAR_TESTNET
    ChainType:
      description: The type of blockchain.
      type: string
      enum:
        - evm
        - cosmos
        - bitcoin
        - solana
        - sui
        - xrpl
        - stellar
      x-enum-varnames:
        - EVM
        - COSMOS
        - BTC
        - SOLANA
        - SUI
        - XRPL
        - STELLAR
    CosmosBankSendCall:
      type: object
      properties:
        bank:
          type: object
          additionalProperties: false
          properties:
            send:
              type: object
              additionalProperties: false
              properties:
                to_address:
                  type: string
                amount:
                  type: array
                  items:
                    type: object
                    properties:
                      denom:
                        type: string
                      amount:
                        type: string
                    required:
                      - denom
                      - amount
                    additionalProperties: false
              required:
                - to_address
                - amount
          required:
            - send
      additionalProperties: false
      required:
        - bank
    CosmosCall:
      type: object
      properties:
        chainType:
          type: string
          const: cosmos
        callType:
          $ref: '#/components/schemas/CosmosCallType'
        call:
          oneOf:
            - $ref: '#/components/schemas/CosmosMulticallContractCall'
            - $ref: '#/components/schemas/CosmosIbcTransferCall'
            - $ref: '#/components/schemas/CosmosPfmCall'
            - $ref: '#/components/schemas/CosmosGmpCall'
            - $ref: '#/components/schemas/CosmosBankSendCall'
            - $ref: '#/components/schemas/CosmosCctpCall'
      additionalProperties: false
      required:
        - chainType
        - callType
        - call
    CosmosCallType:
      type: integer
      format: int32
      enum:
        - 0
        - 1
        - 2
        - 3
        - 4
      x-enum-varnames:
        - MULTICALL
        - IBC_TRANSFER
        - PFM
        - GMP
        - CCTP
    CosmosCctpCall:
      type: object
      properties:
        typeUrl:
          type: string
          const: /circle.cctp.v1.MsgDepositForBurn
        value:
          type: object
          additionalProperties: false
          properties:
            amount:
              type: string
            burnToken:
              type: string
            destinationDomain:
              type: integer
              format: int32
            from:
              type: string
            mintRecipient:
              type: string
          required:
            - from
            - amount
            - destinationDomain
            - mintRecipient
            - burnToken
      additionalProperties: false
      required:
        - typeUrl
        - value
    CosmosChain:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseChain'
        - type: object
          additionalProperties: false
          properties:
            rest:
              type: string
            rpcList:
              type: array
              items:
                type: string
            stakeCurrency:
              $ref: '#/components/schemas/CosmosCurrency'
            walletUrl:
              type: string
            walletUrlForStaking:
              type: string
            bip44:
              $ref: '#/components/schemas/BIP44'
            alternativeBIP44s:
              type: array
              items:
                $ref: '#/components/schemas/BIP44'
            bech32Config:
              $ref: '#/components/schemas/Bech32Config'
            currencies:
              type: array
              items:
                $ref: '#/components/schemas/CosmosCurrency'
            feeCurrencies:
              type: array
              items:
                $ref: '#/components/schemas/CosmosCurrency'
            coinType:
              type: integer
              format: int32
            features:
              type: array
              items:
                type: string
            gasPriceStep:
              $ref: '#/components/schemas/CosmosGasType'
            isEvmos:
              type: boolean
            chainToAxelarChannelId:
              type: string
          required:
            - bech32Config
            - bip44
            - chainToAxelarChannelId
            - currencies
            - feeCurrencies
            - rest
            - rpcList
            - stakeCurrency
    CosmosCurrency:
      type: object
      properties:
        coinDenom:
          type: string
        coinMinimalDenom:
          type: string
        coinDecimals:
          type: number
        coingeckoId:
          type: string
        gasPriceStep:
          $ref: '#/components/schemas/CosmosGasType'
      additionalProperties: false
      required:
        - coinDenom
        - coinMinimalDenom
        - coinDecimals
    CosmosGasType:
      type: object
      properties:
        low:
          type: number
        average:
          type: number
        high:
          type: number
      additionalProperties: false
      required:
        - low
        - average
        - high
    CosmosGmpCall:
      type: object
      properties:
        destination_chain:
          type: string
        destination_address:
          type: string
        payload:
          type: array
          items:
            type: integer
            format: int32
        type:
          type: integer
          format: int32
        fee:
          type: object
          additionalProperties: false
          properties:
            amount:
              type: string
            recipient:
              type: string
          required:
            - amount
            - recipient
      additionalProperties: false
      required:
        - destination_chain
        - destination_address
        - type
    CosmosIbcTransferCall:
      type: object
      properties:
        typeUrl:
          type: string
          const: /ibc.applications.transfer.v1.MsgTransfer
        value:
          type: object
          additionalProperties: false
          properties:
            memo:
              type: string
            receiver:
              type: string
            sender:
              type: string
            sourceChannel:
              type: string
            sourcePort:
              type: string
              const: transfer
            timeoutTimestamp:
              $ref: '#/components/schemas/Long'
            token:
              type: object
              properties:
                denom:
                  type: string
                amount:
                  type: string
              required:
                - denom
                - amount
              additionalProperties: false
          required:
            - sourcePort
            - sourceChannel
            - token
            - sender
            - receiver
            - timeoutTimestamp
            - memo
      additionalProperties: false
      required:
        - typeUrl
        - value
    CosmosMulticallContractCall:
      type: object
      properties:
        msg:
          type: object
        actions:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/NativeBalanceFetchAction'
              - $ref: '#/components/schemas/IbcTrackingAction'
              - $ref: '#/components/schemas/FieldToProtoBinaryAction'
      additionalProperties: false
      required:
        - msg
        - actions
    CosmosPfmCall:
      type: object
      properties:
        forward:
          type: object
          additionalProperties: false
          properties:
            receiver:
              type: string
            port:
              type: string
              const: transfer
            channel:
              type: string
            next:
              type: object
          required:
            - receiver
            - port
            - channel
      additionalProperties: false
      required:
        - forward
    CustomCallDetails:
      type: object
      properties:
        name:
          type: string
        logoURI:
          type: string
        provider:
          type: string
        calls:
          type: array
          items:
            $ref: '#/components/schemas/ChainCall'
          minItems: 1
      additionalProperties: false
      required:
        - name
        - calls
    DepositAddressResponse:
      $ref: '#/components/schemas/ChainflipDepositAddressResponse'
    DexName:
      description: DEX name identifier.
      type: string
      enum:
        - Agni V3
        - Aerodrome Solidly
        - Aerodrome V3
        - Apeswap V2
        - Apeswap V3
        - Astroport
        - Balancer V2
        - Baseswap V2
        - Baseswap V3
        - Beamswap V2
        - Beamswap V3
        - Beamswap Saddle
        - Beets V2
        - Camelot V3
        - Curve V2
        - Ellipsis
        - Equilibre
        - Equalizer
        - Fraxswap V2
        - FusionX V2
        - FusionX V3
        - Gliquid V4
        - GMX
        - Honeyswap V2
        - Horizon V2
        - Horizon V3
        - Hybra V2
        - Hybra V3
        - Hyperswap V2
        - Hyperswap V3
        - KyberSwap
        - kyberswap Aggregator
        - Kyo V2
        - Kyo V3
        - Kinetix V3
        - Kittenswap V2
        - Kittenswap V3
        - Kodiak V3
        - Laminar V3
        - Lynex V3
        - Mento V2
        - Nile Solidly
        - Nile V3
        - Oku V2
        - OpenOcean
        - Osmosis
        - Oku V3
        - Pancakeswap V2
        - Pancakeswap V3
        - Pancakeswap Stable
        - Pangolin V2
        - Pharaoh Solidly
        - Pharaoh V3
        - Platypus
        - Quickswap V2
        - Quickswap V3
        - Ramses Solidly
        - Ra V3
        - Ramses V3
        - Shadow V2
        - Shadow V3
        - Sonex V3
        - Spookyswap V2
        - Stellaswap V2
        - Stellaswap V3
        - Stellaswap V4
        - Stellaswap Saddle
        - Sushiswap V2
        - Sushiswap V3
        - Swapbased V2
        - SynthSwap V2
        - SynthSwap V3
        - Skydrome
        - Swapr V3
        - Thena Solidly
        - Thena V3
        - Trader Joe V2
        - Trader Joe V2.1
        - Trader Joe V2.2
        - Trident
        - Thruster V3
        - Thruster V2
        - Ubeswap V2
        - Ubeswap V3
        - Uniswap V2
        - Uniswap V3
        - Wagmi V3
        - Wigoswap V2
        - Wombat
        - Velodrome Solidly
        - Velodrome V2
        - Velodrome V3
        - Velocimeter
        - Zyberswap V2
        - Zyberswap V3
      x-enum-varnames:
        - AGNI_V3
        - AERODROME_SOLIDLY
        - AERODROME_V3
        - APESWAP_V2
        - APESWAP_V3
        - ASTROPORT
        - BALANCER_V2
        - BASESWAP_V2
        - BASESWAP_V3
        - BEAMSWAP_V2
        - BEAMSWAP_V3
        - BEAMSWAP_SADDLE
        - BEETS_V2
        - CAMELOT_V3
        - CURVE_V2
        - ELLIPSIS
        - EQUILIBRE
        - EQUALIZER
        - FRAXSWAP_V2
        - FUSIONX_V2
        - FUSIONX_V3
        - GLIQUID_V4
        - GMX
        - HONEYSWAP_V2
        - HORIZON_V2
        - HORIZON_V3
        - HYBRA_V2
        - HYBRA_V3
        - HYPERSWAP_V2
        - HYPERSWAP_V3
        - KYBERSWAP
        - KYBERSWAP_AGGREGATOR
        - KYO_V2
        - KYO_V3
        - KINETIX_V3
        - KITTENSWAP_V2
        - KITTENSWAP_V3
        - KODIAK_V3
        - LAMINAR_V3
        - LYNEX_V3
        - MENTO_V2
        - NILE_SOLIDLY
        - NILE_V3
        - OKU_V2
        - OPENOCEAN
        - OSMOSIS
        - OKU_V3
        - PANCAKESWAP_V2
        - PANCAKESWAP_V3
        - PANCAKESWAP_STABLE
        - PANGOLIN_V2
        - PHARAOH_SOLIDLY
        - PHARAOH_V3
        - PLATYPUS
        - QUICKSWAP_V2
        - QUICKSWAP_V3
        - RAMSES_SOLIDLY
        - RA_V3
        - RAMSES_V3
        - SHADOW_V2
        - SHADOW_V3
        - SONEX_V3
        - SPOOKYSWAP_V2
        - STELLASWAP_V2
        - STELLASWAP_V3
        - STELLASWAP_V4
        - STELLASWAP_SADDLE
        - SUSHISWAP_V2
        - SUSHISWAP_V3
        - SWAPBASED_V2
        - SYNTHSWAP_V2
        - SYNTHSWAP_V3
        - SKYDROME
        - SWAPR_V3
        - THENA_SOLIDLY
        - THENA_V3
        - TRADERJOE_V2
        - TRADERJOE_V21
        - TRADERJOE_V22
        - TRIDENT
        - THRUSTER_V3
        - THRUSTER_V2
        - UBESWAP_V2
        - UBESWAP_V3
        - UNISWAP_V2
        - UNISWAP_V3
        - WAGMI_V3
        - WIGOSWAP_V2
        - WOMBAT
        - VELODROME_SOLIDLY
        - VELODROME_V2
        - VELODROME_V3
        - VELOCIMETER
        - ZYBERSWAP_V2
        - ZYBERSWAP_V3
    ErrorType:
      type: string
      enum:
        - SCHEMA_VALIDATION_ERROR
        - PATH_FINDER_ERROR
        - QUOTE_ERROR
        - ROUTE_ERROR
        - BAD_REQUEST
        - UNKNOWN_ERROR
        - RATE_LIMIT
        - MAINTENANCE
        - UNAUTHORIZED
        - INTERNAL_ERROR
      x-enum-varnames:
        - SCHEMA_VALIDATION_ERROR
        - PATH_FINDER_ERROR
        - QUOTE_ERROR
        - ROUTE_ERROR
        - BAD_REQUEST
        - UNKNOWN_ERROR
        - RATE_LIMIT
        - MAINTENANCE
        - UNAUTHORIZED
        - INTERNAL_ERROR
    Estimate:
      type: object
      properties:
        fromToken:
          $ref: '#/components/schemas/Token'
        toToken:
          $ref: '#/components/schemas/Token'
        fromAmount:
          type: string
        toAmount:
          type: string
        toAmountMin:
          type: string
        exchangeRate:
          type: string
        aggregatePriceImpact:
          type: string
        estimatedRouteDuration:
          type: number
        fromAmountUSD:
          type: string
        toAmountUSD:
          type: string
        toAmountMinUSD:
          type: string
        isBoostSupported:
          type: boolean
        gasCosts:
          type: array
          items:
            $ref: '#/components/schemas/GasCost'
        feeCosts:
          type: array
          items:
            $ref: '#/components/schemas/FeeCost'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/RouteActionResponse'
      additionalProperties: false
      required:
        - actions
        - aggregatePriceImpact
        - estimatedRouteDuration
        - exchangeRate
        - feeCosts
        - fromAmount
        - fromToken
        - gasCosts
        - isBoostSupported
        - toAmount
        - toAmountMin
        - toToken
    EvmChain:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseChain'
        - type: object
          additionalProperties: false
          properties:
            chainNativeContracts:
              type: object
              additionalProperties: false
              properties:
                wrappedNativeToken:
                  type: string
                ensRegistry:
                  type: string
                multicall:
                  type: string
                usdcToken:
                  type: string
              required:
                - wrappedNativeToken
                - ensRegistry
                - multicall
                - usdcToken
            gas:
              type: object
              additionalProperties: false
              properties:
                lastBaseFeePerGas:
                  type: string
                maxFeePerGas:
                  type: string
                maxPriorityFeePerGas:
                  type: string
                gasPrice:
                  type: string
              required:
                - lastBaseFeePerGas
                - maxFeePerGas
                - maxPriorityFeePerGas
                - gasPrice
    EvmContractCall:
      type: object
      properties:
        chainType:
          type: string
          const: evm
        callType:
          $ref: '#/components/schemas/SquidCallType'
        target:
          description: The address of the contract to call.
          type: string
        value:
          description: 'Amount of native currency to send with the call, in wei.'
          type: string
        callData:
          description: The ABI-encoded calldata for the function call.
          type: string
        payload:
          type: object
          additionalProperties: false
          properties:
            tokenAddress:
              type: string
            inputPos:
              type: integer
              format: int32
          required:
            - tokenAddress
            - inputPos
        estimatedGas:
          description: Estimated gas limit for this call.
          type: string
      additionalProperties: false
      required:
        - chainType
        - callType
        - target
        - callData
        - estimatedGas
    FallbackAddress:
      type: object
      properties:
        coinType:
          description: The coin type identifier
          type: integer
          format: int32
        address:
          description: The fallback address
          type: string
      additionalProperties: false
      required:
        - coinType
        - address
    FeeCost:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/FeeType'
        description:
          type: string
        percentage:
          type: string
        gasLimit:
          description: 'Gas limit for this fee, if applicable.'
          type: string
        gasMultiplier:
          description: 'Gas multiplier for this fee, if applicable.'
          type: number
        token:
          $ref: '#/components/schemas/Token'
        amount:
          type: string
        amountUsd:
          type: string
        logoURI:
          description: Logo URL for the fee provider.
          type: string
        data:
          type: object
      additionalProperties: false
      required:
        - name
        - description
        - token
        - amount
        - amountUsd
    FeeDetails:
      type: object
      properties:
        calls:
          type: array
          items:
            $ref: '#/components/schemas/ChainCall'
        platformFee:
          $ref: '#/components/schemas/PlatformFee'
        integratorFee:
          $ref: '#/components/schemas/IntegratorFee'
        chainFee:
          $ref: '#/components/schemas/ChainFee'
        tokenFee:
          $ref: '#/components/schemas/TokenFee'
        tierFee:
          $ref: '#/components/schemas/TierFee'
        totalFeeAmount:
          type: number
        platformFeeAmount:
          type: number
        integratorFeeAmount:
          type: number
        integratorFee2Amount:
          type: number
        squidFeeAmount:
          type: number
        chainFeeAmount:
          type: number
        tokenFeeAmount:
          type: number
        tierFeeAmount:
          type: number
        logoURI:
          type: string
      additionalProperties: false
      required:
        - platformFee
        - integratorFee
        - chainFee
        - tokenFee
        - tierFee
        - totalFeeAmount
        - platformFeeAmount
        - integratorFeeAmount
        - integratorFee2Amount
        - squidFeeAmount
        - chainFeeAmount
        - tokenFeeAmount
        - tierFeeAmount
        - logoURI
    FeeType:
      description: Type of fee applied to the transaction.
      type: string
      enum:
        - Axelar fee
        - Gas receiver fee
        - Boost fee
        - Integrator fee
        - Chainflip fee
        - Execution fee
        - Settlement fee
        - Service fee
      x-enum-varnames:
        - AXELAR_FEE
        - GAS_RECEIVER_FEE
        - BOOST_FEE
        - INTEGRATOR_FEE
        - CHAINFLIP_FEE
        - EXECUTION_FEE
        - SETTLEMENT_FEE
        - SERVICE_FEE
    FieldToProtoBinaryAction:
      type: object
      properties:
        field_to_binary:
          type: object
          additionalProperties: false
          properties:
            replacer:
              type: string
            proto_msg_type:
              type: string
              enum:
                - ibc_transfer
                - osmosis_swap_exact_amt_in
          required:
            - replacer
            - proto_msg_type
      additionalProperties: false
      required:
        - field_to_binary
    FillerAddresses:
      type: object
      properties:
        evm:
          type: string
        cosmos:
          type: string
        solana:
          type: string
        sui:
          type: string
      additionalProperties: false
      required:
        - evm
        - cosmos
        - solana
        - sui
    GasCost:
      description: Type of gas cost.
      type: object
      properties:
        type:
          $ref: '#/components/schemas/GasCostType'
        token:
          $ref: '#/components/schemas/Token'
        gasLimit:
          description: Gas limit for this cost.
          type: string
        amount:
          description: Amount of token for gas.
          type: string
        amountUsd:
          description: USD equivalent of gas cost.
          type: string
      additionalProperties: false
      required:
        - type
        - token
        - gasLimit
        - amount
        - amountUsd
    GasCostType:
      type: string
      enum:
        - executeCall
        - jitoTipFee
      x-enum-varnames:
        - EXECUTE_CALL
        - JITO_TIP_FEE
    GMPError:
      type: object
      properties:
        chain:
          type: string
        message:
          type: string
        txHash:
          type: string
      additionalProperties: false
      required:
        - txHash
        - chain
        - message
    Hook:
      type: object
      properties:
        chainType:
          $ref: '#/components/schemas/ChainType'
        fundAmount:
          description: Amount of `fundToken` to be provided to the hook contract. (Required for preHooks that need funds).
          type: string
        fundToken:
          description: Address of the token to fund the hook contract with. (Required for preHooks that need funds).
          type: string
        calls:
          type: array
          items:
            $ref: '#/components/schemas/ChainCall'
        description:
          type: string
        logoURI:
          description: URL to your product or application's logo.
          type: string
        provider:
          description: Name of your product or application triggering the hook.
          type: string
      additionalProperties: false
      required:
        - chainType
        - fundAmount
        - fundToken
        - calls
        - description
        - logoURI
        - provider
    IbcTrackingAction:
      type: object
      properties:
        ibc_tracking:
          type: object
          additionalProperties: false
          properties:
            channel:
              type: string
            denom:
              type: string
            amount:
              type: string
            amount_pointer:
              type: string
          required:
            - channel
            - denom
      additionalProperties: false
      required:
        - ibc_tracking
    Integrator:
      type: object
      properties:
        id:
          type: string
        enabled:
          type: boolean
      additionalProperties: false
      required:
        - id
        - enabled
    IntegratorFee:
      type: object
      properties:
        type:
          type: string
          const: INTEGRATOR
        flat:
          type: number
        percentage:
          type: number
        flat2:
          type: number
        percentage2:
          type: number
        squidFlat:
          type: number
        squidPercentage:
          type: number
        enabled:
          type: boolean
        waivePlatformFee:
          type: boolean
        address:
          type: string
        address2:
          type: string
        integrator:
          $ref: '#/components/schemas/Integrator'
      additionalProperties: false
      required:
        - type
        - flat
        - percentage
        - squidFlat
        - squidPercentage
        - enabled
        - waivePlatformFee
        - address
    JitoTipFee:
      type: object
      properties:
        landed_tips_25th_percentile:
          type: string
        landed_tips_50th_percentile:
          type: string
        landed_tips_75th_percentile:
          type: string
        landed_tips_95th_percentile:
          type: string
        landed_tips_99th_percentile:
          type: string
        ema_landed_tips_50th_percentile:
          type: string
      additionalProperties: false
      required:
        - landed_tips_25th_percentile
        - landed_tips_50th_percentile
        - landed_tips_75th_percentile
        - landed_tips_95th_percentile
        - landed_tips_99th_percentile
        - ema_landed_tips_50th_percentile
    LiquidityProviderDetails:
      type: object
      properties:
        liquidityProvider:
          type: string
        target:
          type: string
        provider:
          type: string
        type:
          $ref: '#/components/schemas/BridgeType'
        name:
          type: string
        logoURI:
          type: string
        calls:
          type: array
          items:
            $ref: '#/components/schemas/ChainCall'
        fillerAddress:
          type: string
        fillerAddresses:
          $ref: '#/components/schemas/FillerAddresses'
        expiry:
          type: string
      additionalProperties: false
      required:
        - liquidityProvider
        - target
        - provider
        - type
        - name
        - expiry
    Long:
      type: object
      properties:
        high:
          description: The high 32 bits as a signed value.
          type: integer
          format: int32
        low:
          description: The low 32 bits as a signed value.
          type: integer
          format: int32
        unsigned:
          description: Whether unsigned or not.
          type: boolean
      additionalProperties: false
      required:
        - high
        - low
        - unsigned
    NativeBalanceFetchAction:
      type: object
      properties:
        native_balance_fetch:
          type: object
          additionalProperties: false
          properties:
            denom:
              type: string
            replacer:
              type: string
          required:
            - denom
            - replacer
      additionalProperties: false
      required:
        - native_balance_fetch
    NetworkIdentifier:
      type: string
      enum:
        - ethereum
        - avalanche
        - arbitrum
        - aurora
        - base
        - binance
        - celo
        - fantom
        - filecoin
        - immutable
        - kava
        - mantle
        - moonbeam
        - optimism
        - polygon
        - linea
        - scroll
        - blast
        - fraxtal
        - berachain
        - gnosis
        - sonic
        - soneium
        - peaq
        - hyper-evm
        - agoric
        - assetmantle
        - axelar
        - axelarnet
        - carbon
        - comdex
        - cosmoshub
        - crescent
        - evmos
        - fetch
        - injective
        - juno
        - ki
        - kujira
        - noble
        - neutron
        - osmosis
        - regen
        - sei
        - secret-snip
        - stargaze
        - stride
        - terra-2
        - umee
        - dydx
        - acre
        - archway
        - bitcanna
        - bitsong
        - cheqd
        - celestia
        - coreum
        - decentr
        - desmos
        - dymension
        - irisnet
        - impacthub
        - jackal
        - lumnetwork
        - likecoin
        - kava-ibc
        - nolus
        - xpla
        - akash
        - chihuahua
        - cronos
        - gravitybridge
        - mars
        - migaloo
        - persistence
        - omniflixhub
        - quicksilver
        - sommelier
        - terra
        - teritori
        - sentinel
        - humans
        - c4e
        - saga
        - nibiru
        - lava
        - kyve
        - xion
        - hub
        - saga_evm
        - maria
        - nirvana
        - flippandomainnet
        - soundmoney
        - ngmi
        - elys
        - allora
        - babylon
        - bitcoin
        - solana
        - sui
        - xrpl
        - xrpl-evm
        - stellar
        - ethereum-sepolia
        - sui-testnet
        - xrpl-testnet
        - xrpl-evm-testnet
        - stellar-testnet
      x-enum-varnames:
        - ETHEREUM
        - AVALANCHE
        - ARBITRUM
        - AURORA
        - BASE
        - BINANCE
        - CELO
        - FANTOM
        - FILECOIN
        - IMMUTABLE_ZKEVM
        - KAVA
        - MANTLE
        - MOONBEAM
        - OPTIMISM
        - POLYGON
        - LINEA
        - SCROLL
        - BLAST
        - FRAXTAL
        - BERACHAIN
        - GNOSIS
        - SONIC
        - SONEIUM
        - PEAQ
        - HYPER_EVM
        - AGORIC
        - ASSETMANTLE
        - AXELAR
        - AXELARNET
        - CARBON
        - COMDEX
        - COSMOS
        - CRESCENT
        - EVMOS
        - FETCH
        - INJECTIVE
        - JUNO
        - KI
        - KUJIRA
        - NOBLE
        - NEUTRON
        - OSMOSIS
        - REGEN
        - SEI
        - SECRETSNIP
        - STARGAZE
        - STRIDE
        - TERRA2
        - UMEE
        - DYDX
        - ACRECHAIN
        - ARCHWAY
        - BITCANNA
        - BITSONG
        - CHEQD
        - CELESTIA
        - COREUM
        - DECENTR
        - DESMOS
        - DYMENSION
        - IRISNET
        - IXO
        - JACKAL
        - LUM
        - LIKECOIN
        - KAVA_IBC
        - NOLUS
        - XPLA
        - AKASH
        - CHIHUAHUA
        - CRONOS
        - GRAVITYBRIDGE
        - MARS
        - MIGALOO
        - PERSISTENCE
        - OMNIFLIXHUB
        - QUICKSILVER
        - SOMMELIER
        - TERRA
        - TERITORI
        - SENTINEL
        - HUMANS
        - CHAIN4ENERGY
        - SAGA
        - NIBIRU
        - LAVA
        - KYVE
        - XION
        - SAGA_HUB
        - SAGA_DEX
        - SAGA_MARIA
        - SAGA_NIRVANA
        - SAGA_FLIPPANDO
        - SAGA_SOUNDMONEY
        - SAGA_NGMI
        - ELYS
        - ALLORA
        - BABYLON
        - BITCOIN
        - SOLANA
        - SUI
        - XRPL
        - XRPL_EVM
        - STELLAR
        - ETHEREUM_SEPOLIA
        - SUI_TESTNET
        - XRPL_TESTNET
        - XRPL_EVM_TESTNET
        - STELLAR_TESTNET
    OnChainExecutionData:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/SquidDataType'
        routeType:
          $ref: '#/components/schemas/SquidRouteType'
        target:
          type: string
        data:
          type: string
        value:
          type: string
        gasLimit:
          type: string
        gasPrice:
          type: string
        maxFeePerGas:
          type: string
        maxPriorityFeePerGas:
          type: string
        requestId:
          type: string
        expiry:
          type: string
        expiryOffset:
          type: string
        hasJitoTipFee:
          type: boolean
      additionalProperties: false
      required:
        - type
        - routeType
        - target
        - data
        - value
    PlatformFee:
      type: object
      properties:
        type:
          type: string
          const: PLATFORM
        flat:
          type: number
        percentage:
          type: number
        enabled:
          type: boolean
        address:
          type: string
      additionalProperties: false
      required:
        - type
        - flat
        - percentage
        - enabled
        - address
    RouteActionResponse:
      type: object
      properties:
        provider:
          type: string
        description:
          type: string
        logoURI:
          type: string
        estimatedDuration:
          type: number
        orderHash:
          type: string
        fromAmount:
          type: string
        toAmount:
          type: string
        toAmountMin:
          type: string
        exchangeRate:
          type: string
        priceImpact:
          type: string
        stage:
          $ref: '#/components/schemas/ActionStage'
        type:
          $ref: '#/components/schemas/ActionType'
        chainType:
          $ref: '#/components/schemas/ChainType'
        fromToken:
          $ref: '#/components/schemas/Token'
        toToken:
          $ref: '#/components/schemas/Token'
        fromChain:
          type: string
        toChain:
          type: string
        data:
          oneOf:
            - $ref: '#/components/schemas/SwapDetails'
            - $ref: '#/components/schemas/WrapDetails'
            - $ref: '#/components/schemas/BridgeDetails'
            - $ref: '#/components/schemas/CustomCallDetails'
            - $ref: '#/components/schemas/FeeDetails'
            - $ref: '#/components/schemas/LiquidityProviderDetails'
      additionalProperties: false
      required:
        - chainType
        - data
        - exchangeRate
        - fromAmount
        - fromChain
        - fromToken
        - priceImpact
        - toAmount
        - toAmountMin
        - toChain
        - toToken
        - type
    RouteRequest:
      type: object
      properties:
        fromChain:
          type: string
          format: int32
        fromToken:
          type: string
        fromAmount:
          type: string
        fromAddress:
          type: string
        toChain:
          type: string
        toToken:
          type: string
        toAddress:
          type: string
        slippage:
          type: number
          format: double
          minimum: 0
        quoteOnly:
          type: boolean
        preHook:
          $ref: '#/components/schemas/Hook'
        postHook:
          type: object
          additionalProperties: false
          properties:
            chainType:
              $ref: '#/components/schemas/ChainType'
            calls:
              type: array
              items:
                $ref: '#/components/schemas/ChainCall'
            description:
              type: string
            logoURI:
              type: string
            provider:
              type: string
          required:
            - chainType
            - calls
            - description
            - logoURI
            - provider
        receiveGasOnDestination:
          type: boolean
        fallbackAddresses:
          type: array
          items:
            $ref: '#/components/schemas/FallbackAddress'
        bypassGuardrails:
          type: boolean
        customParams:
          type: object
          additionalProperties: false
          properties:
            jitoTipFeeInLamports:
              type: string
      additionalProperties: false
      required:
        - fromChain
        - fromToken
        - fromAmount
        - toChain
        - toToken
    RouteResponseData:
      type: object
      properties:
        requestId:
          type: string
        integratorId:
          type: string
        route:
          type: object
          additionalProperties: false
          properties:
            estimate:
              $ref: '#/components/schemas/Estimate'
            transactionRequest:
              oneOf:
                - $ref: '#/components/schemas/SquidData'
                - type: object
                  additionalProperties: false
                  description: Empty object when no transaction request exists
            params:
              $ref: '#/components/schemas/RouteRequest'
            quoteId:
              type: string
          required:
            - estimate
            - params
            - quoteId
      additionalProperties: false
      required:
        - route
    SquidCallType:
      description: |
        Type of call for hooks.
        0: DEFAULT (target contract call)
        1: FULL_TOKEN_BALANCE (use full balance of specified token for an input parameter)
        2: CALL_DATA / FULL_NATIVE_BALANCE (use `value` field as is for native token transfers or `payload` for substituting into callData)
        3: COLLECT_TOKEN_BALANCE
      type: integer
      format: int32
      enum:
        - 0
        - 1
        - 2
        - 3
      x-enum-varnames:
        - DEFAULT
        - FULL_TOKEN_BALANCE
        - FULL_NATIVE_BALANCE
        - COLLECT_TOKEN_BALANCE
    SquidData:
      oneOf:
        - $ref: '#/components/schemas/OnChainExecutionData'
        - $ref: '#/components/schemas/ChainflipDepositAddressData'
    SquidDataType:
      type: string
      enum:
        - ON_CHAIN_EXECUTION
        - CHAINFLIP_DEPOSIT_ADDRESS
    SquidRouteType:
      type: string
      enum:
        - CALL_BRIDGE_CALL
        - CALL_BRIDGE
        - BRIDGE_CALL
        - BRIDGE
        - EVM_ONLY
        - COSMOS_ONLY
        - SOLANA_ONLY
        - RFQ
        - CORAL_V2
        - FUND_AND_RUN_MULTICALL
    SquidTransactionStatus:
      type: string
      enum:
        - success
        - needs_gas
        - ongoing
        - partial_success
        - not_found
        - failed_on_destination
        - refunded
      x-enum-varnames:
        - SUCCESS
        - NEEDS_GAS
        - ONGOING
        - PARTIAL_SUCCESS
        - NOT_FOUND
        - FAILED_DESTINATION
        - REFUNDED
    StatusResponse:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
        gasStatus:
          type: string
        isGMPTransaction:
          type: boolean
        axelarTransactionUrl:
          type: string
        fromChain:
          $ref: '#/components/schemas/TransactionStatus'
        toChain:
          $ref: '#/components/schemas/TransactionStatus'
        timeSpent:
          type: object
          additionalProperties:
            type: number
        requestId:
          type: string
        integratorId:
          type: string
        routeStatus: {}
        squidTransactionStatus:
          $ref: '#/components/schemas/SquidTransactionStatus'
      additionalProperties: false
    SuiCoralCall:
      type: object
      properties:
        callType:
          $ref: '#/components/schemas/SuiCoralCallType'
        chainType:
          type: string
          const: sui
        coralID:
          type: string
        coralStateId:
          type: string
        coinType:
          type: string
        tx:
          type: string
      additionalProperties: false
      required:
        - chainType
        - coralID
        - coralStateId
        - coinType
        - tx
    SuiCoralCallType:
      type: integer
      format: int32
      const: 0
    SwapDetails:
      type: object
      properties:
        enabled:
          type: boolean
        chainId:
          type: string
          format: int32
        target:
          type: string
        path:
          type: array
          items:
            type: string
          minItems: 1
        calls:
          type: array
          items:
            $ref: '#/components/schemas/ChainCall'
        poolId:
          type: string
        poolFee:
          type: string
        tickSpacing:
          type: number
        binStep:
          type: number
        osmosisPools:
          type: array
          items:
            type: object
            properties:
              poolId:
                type: string
              tokenOutDenom:
                type: string
            required:
              - poolId
              - tokenOutDenom
            additionalProperties: false
        address:
          type: string
        coinAddresses:
          type: array
          items:
            type: string
        isStable:
          type: boolean
        exchangeId:
          type: string
        exchangeProvider:
          type: string
        custom:
          type: object
        logoURI:
          type: string
        provider:
          type: string
        dex:
          $ref: '#/components/schemas/DexName'
        slippage:
          type: number
        aggregateSlippage:
          type: number
      additionalProperties: false
      required:
        - coinAddresses
        - dex
        - path
        - target
        - slippage
        - aggregateSlippage
        - enabled
        - chainId
    TierFee:
      type: object
      properties:
        type:
          type: string
          const: TIER
        tier:
          $ref: '#/components/schemas/Volatility'
        flat:
          type: number
        percentage:
          type: number
        enabled:
          type: boolean
        waivePlatformFee:
          type: boolean
      additionalProperties: false
      required:
        - type
        - tier
        - flat
        - percentage
        - enabled
        - waivePlatformFee
    Token:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/ChainType'
        chainId:
          type: string
        address:
          type: string
        name:
          type: string
        symbol:
          type: string
        decimals:
          type: number
        logoURI:
          type: string
        coingeckoId:
          type: string
        interchainTokenId:
          type: string
        volatility:
          $ref: '#/components/schemas/Volatility'
        usdPrice:
          type: number
        axelarNetworkSymbol:
          type: string
        subGraphOnly:
          type: boolean
        subGraphIds:
          type: array
          items:
            type: string
        feeOnTransfer:
          type: boolean
        isLpToken:
          type: boolean
        disabled:
          type: boolean
        originalAddress:
          type: string
      additionalProperties: false
      required:
        - type
        - chainId
        - address
        - name
        - symbol
        - decimals
    TokenFee:
      type: object
      properties:
        type:
          type: string
          const: TOKEN
        flat:
          type: number
        percentage:
          type: number
        enabled:
          type: boolean
        waivePlatformFee:
          type: boolean
        token:
          $ref: '#/components/schemas/Token'
      additionalProperties: false
      required:
        - type
        - flat
        - percentage
        - enabled
        - waivePlatformFee
    TransactionStatus:
      type: object
      properties:
        transactionId:
          type: string
        blockNumber:
          type: string
        callEventStatus:
          type: string
        callEventLog:
          type: array
          items:
            type: object
            additionalProperties: true
            properties:
              contractAddress:
                type: string
        chainData:
          $ref: '#/components/schemas/ChainData'
        transactionUrl:
          type: string
      additionalProperties: false
      required:
        - transactionId
        - blockNumber
        - callEventStatus
        - callEventLog
        - chainData
        - transactionUrl
    Volatility:
      type: integer
      format: int32
      enum:
        - 0
        - 1
        - 2
        - 3
      x-enum-varnames:
        - SUPER_STABLE
        - STABLE
        - HIGH_CAP
        - VOLATILE
    WrapDetails:
      type: object
      properties:
        target:
          type: string
        path:
          type: array
          items:
            type: string
        type:
          $ref: '#/components/schemas/WrapperType'
        address:
          type: string
        wrapper:
          type: string
        coinAddresses:
          type: array
          items:
            type: string
        direction:
          $ref: '#/components/schemas/WrapDirection'
        calls:
          type: array
          items:
            $ref: '#/components/schemas/ChainCall'
        custom:
          type: object
        logoURI:
          type: string
        name:
          type: string
        provider:
          type: string
      additionalProperties: false
      required:
        - target
        - path
        - type
        - address
        - wrapper
        - coinAddresses
        - direction
        - calls
    WrapDirection:
      type: string
      enum:
        - wrap
        - unwrap
      x-enum-varnames:
        - WRAP
        - UNWRAP
    WrapperType:
      type: string
      enum:
        - WrappedNative
        - Overnight
        - Deus
        - WstETH
        - WrappedMAI
        - WrappedUSDY
        - ConverterDAIUSDS
        - ConverterMKRSKY
      x-enum-varnames:
        - WRAPPED_NATIVE
        - OVERNIGHT
        - DEUS
        - WSTETH
        - WRAPPED_MAI
        - WRAPPED_USDY
        - CONVERTER_DAI_USDS
        - CONVERTER_MKR_SKY
    YupError:
      type: object
      properties:
        message:
          type: string
        path:
          type: string
      additionalProperties: false
      required:
        - path
        - message
  securitySchemes:
    IntegratorId:
      type: apiKey
      in: header
      name: x-integrator-id
security:
  - IntegratorId: []
